<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>

<div id='slider' class='swipe'>
  <div class='swipe-wrap'>
    <div><%= image_tag 'http://placekitten.com/500/300?image=1' %></div>
    <div><%= image_tag 'http://placekitten.com/500/300?image=2' %></div>
    <div><%= image_tag 'http://placekitten.com/500/300?image=3' %></div>
  </div>
</div>